.btn {
  color: #fff;
  background-color: #3a3a3ad1;
  border-color: #f0f5f66e;
  padding: 1.25rem 2.5rem;

  &-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
  }

}