.head {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-light .navbar-toggler-icon {
  background-color: #ffffff7a;
  border-radius: inherit;
}

.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}

.header-title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}

.header-text {
color: rgba(255, 255, 255, 0.57);
}

@media (min-width: 992px) {
  .head {
    height: 100vh;
  }
}
